[color]
	ui = true
[user]
	name = Eugenio Augusto Jimenes
	email = eugeniojimenes@gmail.com
[core]
	editor = vim
[pull]
	rebase = false
[init]
	defaultBranch = develop
[commit]
	template = ~/dotfiles/.gitmessage
